<main>
    <div class="title">
        <h1> {{ 'ABOUT_US' | translate }}</h1>
        <p>{{ 'BREADCRUMB' | translate }}</p> 
    </div>
</main>

<section class="our-goal">
    <div class="cont">
        <div class="text">
            <div class="gol">
                <div class="line"></div>
                <p>{{ 'OUR_GOAL_TITLE' | translate }}</p>
            </div>
            <h1>{{ 'OUR_GOAL_HEADING' | translate }}</h1>
            <p style="word-spacing: 4px; letter-spacing: 1px; font-size: 1.3rem; font-weight: 300;   font-family: 'Roboto', sans-serif;">{{ 'OUR_GOAL_TEXT1' | translate }}</p>
            <p>{{ 'OUR_GOAL_TEXT2' | translate }} </p>
        </div>
        <div class="img">
            <img src="assets/images/aboutUs.jpg" alt="">
        </div>
    </div>
</section>

<div class="feature-section">
  <div class="feature-box">
    <i class="fa-solid fa-crosshairs"></i>
    <h3>{{ 'OUR_AIM_TITLE' | translate }}</h3>
    <p>{{ 'OUR_AIM_TEXT' | translate }}</p>
  </div>

  <div class="feature-box">
    <i class="fa-solid fa-eye"></i>
    <h3>{{ 'COMPANY_VISION_TITLE' | translate }}</h3>
    <p>{{ 'COMPANY_VISION_TEXT' | translate }}</p>
  </div>

  <div class="feature-box">
    <i class="fa-solid fa-broom"></i>
    <h3>{{ 'THE_PROCEDURE_TITLE' | translate }}</h3>
    <p>{{ 'THE_PROCEDURE_TEXT' | translate }}</p>
  </div>
</div>