<main>
    <div class="title">
        <h1>{{ 'MOVE_OUT_TITLE' | translate }}</h1>
        <p>{{ 'BREADCRUMB_MOVE_OUT' | translate }}</p> 
    </div>
</main>
<section>
    <div class="cont">
        <h1>{{ 'COMPANIES_SERVICES_TITLE' | translate }}</h1>
        <table>
            <tr>
                <th>{{ 'TABLE_HEADER_AREA' | translate }}</th>
                <th>{{ 'TABLE_HEADER_PRICE' | translate }}</th>
            </tr>
            <tr>
                <td>0-49 kvm </td>
                <td>3200 kr</td>
            </tr>
            <tr>
                <td>50-89 kvm</td>
                <td>50 kr/kvm</td>
            </tr>
            <tr>
                <td>90-124 kvm</td>
                <td>45 kr/kvm </td>
            </tr>
            <tr>
                <td>125-159 kvm</td>
                <td>40 kr/kvm</td>
            </tr>
            <tr>
                <td>Över 159 kvm</td>
                <td>35 kr/kvm</td>
            </tr>
        </table>
        <a routerLink="/services/companies">{{ 'BOOK_NOW' | translate }}</a>
    </div>
</section>