<main>
    <div class="title">
        <h1>{{ 'WINDOW_CLEANING_TITLE' | translate }}</h1>
        <p>{{ 'BREADCRUMB_WINDOW' | translate }}</p> 
    </div>
</main>
<section>
    <div class="cont">
        <h1>{{ 'PRIVATE_SERVICES_TITLE' | translate }}</h1>
        <table>
            <tr>
                <th>{{ 'TABLE_HEADER_ROOMS' | translate }}</th>
                <th>{{ 'TABLE_HEADER_PRICE2' | translate }}</th>
            </tr>
            <tr>
                <td>1 rok </td>
                <td>1000 kr</td>
            </tr>
            <tr>
                <td>2 rok</td>
                <td>1200 kr</td>
            </tr>
            <tr>
                <td>3 rok</td>
                <td>1250 kr </td>
            </tr>
            <tr>
                <td>4 rok </td>
                <td>1450 kr</td>
            </tr>
            <tr>
                <td>5 rok</td>
                <td>1550 kr</td>
            </tr>
            <tr>
                <td>{{ 'MORE_THAN_5_ROOMS' | translate }}</td>
                <td>{{ 'PRICE_OFFER' | translate }}</td>
            </tr>
        </table>
        <a routerLink="/services/companies">{{ 'BOOK_NOW' | translate }}</a>
    </div>
</section>