<main>
    <div class="title">
        <h1>{{ 'DISINFECTION_TITLE' | translate }}</h1>
        <p>{{ 'BREADCRUMB_DISINFECTION' | translate }}</p> 
    </div>
</main>
<section>
    <div class="cont">
        <h1>{{ 'COMPANIES_TITLE2' | translate }}</h1>
        <p>{{ 'STEAM_CLEANING_PRICES' | translate }}</p>
        <table>
            <tr>
                <th>YTA</th>
                <th>PRIS FÖRE RUT/ST</th>
            </tr>
            <tr>
                <td>Kök</td>
                <td>700 kr</td>
            </tr>
            <tr>
                <td>Toalett  </td>
                <td>100 kr</td>
            </tr>
            <tr>
                <td>Dusch </td>
                <td>100 kr</td>
            </tr>
            <tr>
                <td>Soffa***</td>
                <td>80 kr</td>
            </tr>
            <tr>
                <td>Fotölj</td>
                <td>50 kr</td>
            </tr>
            <tr>
                <td>Textilmatta</td>
                <td>10 kr/kvm</td>
            </tr>
            <tr>
                <td>Kuddar</td>
                <td>0 kr</td>
            </tr>
            <tr>
                <td>Entrémattor</td>
                <td>0 kr </td>
            </tr>
            <tr>
                <td>Timdebitering</td>
                <td>270 kr </td>
            </tr>
        </table>
        <a routerLink="/services/companies">{{ 'BOOK_NOW' | translate }}</a>
    </div>
</section>