<main>
    <div class="title">
        <h1>{{ 'DISINFECTION_TITLE' | translate }}</h1>
        <p>{{ 'BREADCRUMB_DISINFECTION' | translate }}</p> 
    </div>
</main>
<section>
    <div class="cont">
        <h1>{{ 'PRIVATE_SERVICES_TITLE' | translate }}</h1>
        <p>{{ 'STEAM_CLEANING_PRICES' | translate }}</p>
        <table>
            <tr>
                <th>YTA</th>
                <th>PRIS FÖRE RUT/ST</th>
            </tr>
            <tr>
                <td>Kök</td>
                <td>900 kr</td>
            </tr>
            <tr>
                <td>Badrum  </td>
                <td>900 kr</td>
            </tr>
            <tr>
                <td>Soffa*** </td>
                <td>150 kr </td>
            </tr>
            <tr>
                <td>Fåtölj</td>
                <td>80 kr</td>
            </tr>
            <tr>
                <td>Säng</td>
                <td>150 kr</td>
            </tr>
            <tr>
                <td>Madrass</td>
                <td>150 kr</td>
            </tr>
            <tr>
                <td>Små mattor – under 200cm</td>
                <td>150 kr</td>
            </tr>
            <tr>
                <td>Stora mattor – över 200cm</td>
                <td>250 kr </td>
            </tr>
            <tr>
                <td>Kuddar</td>
                <td>0 kr </td>
            </tr>
            <tr>
                <td>Entrémattor</td>
                <td>0 kr </td>
            </tr>
        </table>
        <a routerLink="/services/companies">{{ 'BOOK_NOW' | translate }}</a>
    </div>
</section>