<main>
    <div class="title">
        <h1>{{ 'HOME_VIEWING_TITLE' | translate }}</h1>
        <p>{{ 'BREADCRUMB_HOME_VIEWING' | translate }}</p> 
    </div>
</main>
<section>
    <div class="cont">
        <h1>{{ 'PRIVATE_SERVICES_TITLE' | translate }}</h1>
        <table>
            <tr>
                <th>{{ 'TABLE_HEADER_SIZE' | translate }}</th>
                <th>{{ 'TABLE_HEADER_PRICE' | translate }}</th>
            </tr>
            <tr>
                <td>0-19 kvm</td>
                <td>3200 kr</td>
            </tr>
            <tr>
                <td>20-29 kvm </td>
                <td>3600 kr</td>
            </tr>
            <tr>
                <td>30-39 kvm</td>
                <td>4000 kr</td>
            </tr>
            <tr>
                <td>40-49 kvm</td>
                <td>4500 kr</td>
            </tr>
            <tr>
                <td>50-59 kvm</td>
                <td>5000 kr</td>
            </tr>
            <tr>
                <td>60-69 kvm </td>
                <td>5200 kr</td>
            </tr>
            <tr>
                <td>70-79 kvm</td>
                <td>5600 kr</td>
            </tr>
            <tr>
                <td>80-89 kvm</td>
                <td>6000 kr </td>
            </tr>
            <tr>
                <td>90-99 kvm</td>
                <td>6200 kr</td>
            </tr>
            <tr>
                <td>100-114 kvm</td>
                <td>6800 kr</td>
            </tr>
            <tr>
                <td>115-124 kvm</td>
                <td>7600 kr</td>
            </tr>
        </table>
        <a routerLink="/services/companies">{{ 'BOOK_NOW' | translate }}</a>
    </div>
</section>